@charset "UTF-8";


body{
    background-color: rgb(188,230, 206);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(3, 51, 35);
}
h1#principal{
    text-align: center;
    background-color: rgb(35, 82, 35);
    color: aliceblue;
}
h2{ 
    color: aqua;
}
.basico{
    color: #3c805e;
}
.intermediario{
    color: #80793c;
}
.avancado{
    color: #803c3c;
}
.destaque{
    background-color: #cfc12f;
}